html{
    box-sizing: border-box;
}
*{

    box-sizing:inherit
}

ol,ul{
    list-style-type: none;
}
div{
    display: block;
}
a{
    display: inline-block;
    text-decoration: none;
    
}
.header{
    border: 1px solid blue;
    display: block;
    position:relative;
    height: 100px;
}
.nav{
    position: absolute;
    border:1px solid red;
    height :100%;
    width :50%;
    justify-content: center;
    text-align: center;
}
.nav-right{
    display: block;
    border: 5px solid;
    position: absolute;
    margin-left: 50%;
    height: 100%;
    width: 50%;
}
.nav-right>ul{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.nav-right>ul>li{
    margin-left: 30px;
}
.main{
    border: 1px solid orange;
    position: relative;
}
.section-1{

    text-align: center;
    position: absolute;
    border: 5px solid blue;
    width: 100%;
    height: 450px;
}
.profile{
    /* border: 5px solid red; */
    display: flex;
    border: 5px solid orange;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.profile-left{
    width: 50%;
    border: 1px solid red;
    justify-content: center;
}
.profile-left>img{
    margin: auto;
    width: 80%;
    height: 100%;
}
.profile-rifgt{
    justify-content: center;
    text-align: left;
    border: 5px solid;
    width: 80%;
    position: relative;
}
.profile-rifgt>h1{
    margin-left: 50%;
    color: aquamarine;
    font-size: xx-large;
}
.introduce{
    border: 1px solid;
    height: 40%;
}
.introduce>p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 100px;
}
.slogon{
    border: 1px solid;
    position: absolute;
    width: 100%;
    height: auto;
}
.Experience{
    border: 3px solid green;
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 430px;
    padding: auto;
    display: flex;
}
.Experience>h1{
    margin-left: 40%;
    position: absolute;
}
.logo{
    width: 150px;
    height: 150px;
    border-right: 2px solid;
    padding: auto;
    margin-left: 100px;
    position: absolute;
    margin-top: 80px;
    
}
.logo>img{  
    width: 100%;
    height: 100%;
}
.logo_1{
   
    margin-left: 50px;
    width: 200px;
    height: 100px;
    margin-top:200px;
    position: absolute;
    
}
.logo_1>p{
    font-size: 18px;
    font-weight: 900;  
}
.nike{
    width: 100%;
    justify-content: left;
    text-align: left;
    position: absolute;
    margin-left: 350px;
    margin-top: 80px;
}
.nike>p{
    font-size: 20px;
    font-style: italic;
}
.section-2{
    position: relative;
    width: 100%;
    height: 1000px;
    border: 3px solid red;
    margin-top: 800px;
}
.skills{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid green;
}
.progress-wraps{
    position: relative;
    height: 800px;
    width: 100%;
    /* border: 3px solid brown; */
    display:flex;
   
}
.progress-wrap{
    position: absolute;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    width: 300px;
    margin-left: 50px;
    border-radius: 10%;
    
}
.progress {
    background-color: #f3f3f3;
    border-radius: 25px;
    position: absolute;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid orange;
    text-align: center;
}

.progress-bar {
    height: 100%;
    border-radius: 25px;
    text-align: center;
    line-height: 30px; /* 세로 정렬을 위해 라인 높이를 바 높이와 동일하게 설정 */
    color: white;
    font-weight: bold;
}

.color-1 {
    background-color: aquamarine;
}

.progress-bar span {
    position: absolute;
    color: #fff; /* 텍스트 색상 흰색으로 설정 */
}
.progress-wrap1{
    position: absolute;
    border: 1px solid;
    border-radius: 10%;
    height: 300px;
    justify-content: center;
    width: 300px;
    margin-left: 25%;
  
}
.color-2{
    background-color: orange;
}
.progress-wrap2{
    position: absolute;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    width: 300px;
   margin-left: 50%;
    border-radius: 10%;
}
.color-3{
    background-color: blue;
}
.progress-wrap3{
    position: absolute;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    width: 300px;
   margin-left:75%;
    border-radius: 10%;
}
.color-4{
    background-color: purple;
}
.progress-wrap4{
    position: absolute;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    width: 300px;
    margin-left:50px;
    border-radius: 10%;
    margin-top: 20%;
}
.color-5{
    background-color: darkred;
}
.progress-wrap5{
    position: absolute;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    width: 300px;
    margin-left:25%;
    border-radius: 10%;
    margin-top: 20%;
}
.color-6{
    background-color: navy;
}
.progress-wrap6{
    position: absolute;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    width: 300px;
    margin-left:50%;
    border-radius: 10%;
    margin-top: 20%;
}
.color-7{
    background-color: cadetblue;
}
.progress-wrap7{

    position: absolute;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    width: 300px;
    margin-left:75%;
    border-radius: 10%;
    margin-top: 20%;
}
.color-8{
    background-color: olive;
}
.study{
    position: absolute;
    width: 100%;
    height: 500px;
    border: 1px solid;
    margin-top: 1000px;
    display: flex;
}
.study-title{
    position: absolute;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 30px;;
    margin-left: 150px;
    
}
.study-1{
    border:1px solid;
    width: 50%;
    height: 300px;;
    position: relative;
    justify-content: center;
    text-align: left;
    margin-left: 50px;
    margin-top: 70px;
}
.study-it{
    position: absolute;
    width: 100%;
    height: 100%;
    border-top:  3px solid gray;
}
.study-it>p{
    font-size: 15px;
    font-weight: 600;
}

.study-2{
    border:1px solid;
    width: 50%;
    height: 300px;;
    position: relative;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
    margin-top: 70px;
}
.study-it1{
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 3px solid gray;
    
}
.study-it1>p{
    font-size: 15px;
    font-weight: 600;
}
.study-3{
    border:1px solid;
    width: 50%;
    height: 300px;;
    position: relative;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
    margin-top: 70px;
}
.section-3{
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 900px;
    margin-top: 510px;
    border: 2px solid;
}
.Portfolio{
    position: absolute;
    border: 2px solid;
    width: 100%;
    height: 100px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
}
.Portfolios{
    position: relative;
    display: flex;
    width: 1700px;
    height: 650px;
    border: 1px solid;
    margin-top: 150px;
    margin-left: 100px;
}
.p1{
    position: absolute;
    border: 1px solid;
    width: 40%;
    height: 500px;
    margin-top: 50px;
    margin-left: 100px;

}
.p1-image{
    position: absolute;
    width: 100%;
    height: 50px;

}
.p1-intro{
    position: absolute;
    width: 100%;
    height: 50%;
    border: 1px solid;
    margin-top: 250px;
    justify-content: center;
    text-align: center;
}
.p2{position: absolute;
    border: 1px solid;
    width: 40%;
    height: 500px;
    margin-top: 50px;
    margin-left: 800px;
}
.p2-image{
    position: relative;
    width: 100%;
    height: 50px;
    justify-content: center;
    text-align: center;
}
.healthImg{
    position: absolute;
    width: 100%;
    height: 200px;

}
.p2-intro{
    position: absolute;
    width: 100%;
    height: 50%;
    border: 1px solid;
    margin-top: 200px;
    justify-content: center;
    text-align: center;
}